# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
"\001\320w\255@\340\260r\005@8"
last_commit.txt
node-v18.20.8-linux-x64.tar.xz
"\001\320w\255@\340\260r\005@8"
